:root {
	/* Colors */
	--primary-color: #d27f7d;
	--primary-color-light: #ee9b9a;
	--primary-color-dark: #bb6564;

	--secondary-color: #8a6580;
	--secondary-color-extra-light: #f0f0f0;
	--secondary-color-light: #cccccc;
	--secondary-color-dark: #201c19;

	--text-color: #1e1e1e;
	--text-color-light: #6c757d;

	--color-dark: #1e1e1e;
	--color-light: #eef2f6;
	--color-light-hover: #e6e6e625;
}
