:root {
	/* Colors */
	--primary-color: #d27f7d;
	--primary-color-light: #ee9b9a;
	--primary-color-dark: #bb6564;

	--secondary-color: #8a6580;
	--secondary-color-extra-light: #fae9f5;
	--secondary-color-light: #c28cb4;
	--secondary-color-dark: #5a3751;

	--text-color: #1e1e1e;
	--text-color-light: #535658;

	--color-dark: #1e1e1e;
	--color-light: #eef2f6;
	--color-light-hover: #e6e6e625;
}
