.header {
	background-color: var(--primary-color);
	height: 410px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.header::before {
	content: '';
	background-image: url(../images/tarja-interna-esq.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right top;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	/* background-color: var(--primary-color-light); */
	width: 30%;
	height: 100%;
}
.header::after {
	content: '';
	background-image: url(../images/tarja-interna-dir.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left top;
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	/* background-color: var(--primary-color-light); */
	width: 30%;
	height: 100%;
}
.header__inner {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
/* .header__inner > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
} */
.header__title h2 {
	display: block;
	color: #ffffff;
	padding: 0;
	margin: 0;
	font-weight: 700;
}
.header__title h2 span {
	display: block;
	font-family: 'Noto Sans Semibold', sans-serif;
	margin-bottom: 1rem;
	color: #ffffff;
	font-weight: 400;
	font-size: 1.5rem;
}
/* Medium devices (tablets, up to 992px) */
@media (max-width: 991.9px) {
	.header {
		background-size: auto 400px;
	}
}

/* Medium devices (tablets, up to 1199px) */
@media (max-width: 1199px) {
	.header__title h1 {
		font-size: 2.15rem;
	}
}
